@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  :root {
    --square-size: 15px;
    --square-gap: 5px;
    --week-width: calc(var(--square-size) + var(--square-gap));
  }
}

.calandar-circle .cell {
  border-radius: 50%;
  height: clamp(3px, calc(var(--level) * 5px), var(--square-size));
  width: clamp(3px, calc(var(--level) * 5px), var(--square-size));
}

.calandar-circle .cell.level0 {
  background-color: theme(colors.gray.200);
}

.calandar-circle .cell.level1 {
  background-color: theme(colors.amber.100);
}

.calandar-circle .cell.level2 {
  background-color: theme(colors.amber.200);
}

.calandar-circle .cell.level3 {
  background-color: theme(colors.amber.400);
}

.calandar-square .cell {
  height: var(--square-size);
  width: var(--square-size);
}
